
.containerSupportDashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
  }
  
  p1 {
    font-size: 16px;
    margin-bottom: 300px;
    
  }
  

