



.assigned-complaints{

  width: 100%;
  max-width: 1000px;
  margin: 100px auto;
  padding: 20px;
  
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);




}



.completed-complaints{

  width: 100%;
  max-width: 1000px;
  margin: 100px auto;
  padding: 20px;
  
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);




}
.assigned-complaints {
  padding: 20px;
}

.completed-complaints {
  padding: 20px;
  margin-top: 40px;
}

.complaint-list h1 {
  margin-bottom: 20px;
}

.complaint-list table {
  width: 100%;
  border-collapse: collapse;
}

.complaint-list th, .complaint-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.complaint-list th {
  background-color: #f2f2f2;
}
