/* General Styles */
.forgot-password-page-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .forgot-password-page-container {
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .forgot-password-page-h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .forgot-password-page-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .forgot-password-page-label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .forgot-password-page-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .forgot-password-page-button {
    padding: 10px;
    border: none;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .forgot-password-page-button:hover {
    background-color: #4b4d4e;
  }
  
  .forgot-password-page-p {
    color: rgb(0, 0, 0);
    
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .forgot-password-page-container {
      width: 100%;
      margin: 20px auto;
      padding: 15px;
    }
  
    input, button {
      font-size: 14px;
      padding: 8px;
    }
  }
  
  @media (max-width: 480px) {
    .forgot-password-page-container {
      padding: 10px;
    }
  
    .forgot-password-page-input, button {
      font-size: 12px;
      padding: 6px;
    }
  
    .forgot-password-page-h2 {
      font-size: 18px;
    }
    
  }